{% set cls = 'social-bar-black' %}

<div class="{{ cls }}">
  <ul class="{{ cls }}__menu">

    <li class="{{ cls }}__menu-item">
      <a href="#" target="_blank">
        <img src="/themes/custom/kuzya_main/assets/icons/facebook-black.svg" width="50" height="50" alt="">
      </a>
    </li>

    <li class="{{ cls }}__menu-item">
      <a href="#" target="_blank">
        <img class="icon-black__instagram" src="/themes/custom/kuzya_main/assets/icons/instagram-black.svg" width="50" height="50"alt="">
      </a>
    </li>

    <li class="{{ cls }}__menu-item">
      <a href="#" target="_blank">
        <img src="/themes/custom/kuzya_main/assets/icons/x-black.svg" width="50" height="50" alt="">
      </a>
    </li>

  </ul>
</div>
