{% set cls = 'social-bar' %}

<div class="{{ cls }}">
  <ul class="{{ cls }}__menu">

    <li class="{{ cls }}__menu-item">
      <a href="#" target="_blank">
        <img src="/themes/custom/kenny/images/icon/X.svg" width="50" height="50" alt="">
      </a>
    </li>

    <li class="{{ cls }}__menu-item">
      <a href="#" target="_blank">
        <img src="/themes/custom/kenny/images/icon/instagram.svg" width="50" height="50"alt="">
      </a>
    </li>

    <li class="{{ cls }}__menu-item">
      <a href="#" target="_blank">
        <img src="/themes/custom/kenny/images/icon/facebook-circle.svg" width="50" height="50" alt="">
      </a>
    </li>

  </ul>
</div>
