{#
/**
 * @file
 * Theme override for a views mini-pager.
 *
 * Available variables:
 * - heading_id: Pagination heading ID.
 * - items: List of pager items.
 *
 * @see template_preprocess_views_mini_pager()
 */
#}
{% if items.previous or items.next %}
  <nav role="navigation" aria-labelledby="{{ heading_id }}">
    <h4 id="{{ heading_id }}" class="visually-hidden">{{ 'Pagination'|t }}</h4>
    <ul class="js-pager__items">
      {% if items.previous and items.current and items.next %}
        <li {{ bem('prev') }}>
          <a href="{{ items.previous.href }}" title="{{ 'Go to previous page'|t }}" rel="prev"{{ items.previous.attributes|without('href', 'title', 'rel') }}>
            <span aria-hidden="true">{{ items.previous.text|default('<') }}</span>
          </a>
        </li>

        <li {{ bem('next') }}>
          <a href="{{ items.next.href }}" title="{{ 'Go to next page'|t }}" rel="next"{{ items.next.attributes|without('href', 'title', 'rel') }}>
            <span aria-hidden="true">{{ items.next.text|default('>') }}</span>
          </a>
        </li>
      {% endif %}

      {% if items.previous and not items.next %}
        <li {{ bem('prev') }}>
          <a href="{{ items.previous.href }}" title="{{ 'Go to previous page'|t }}" rel="prev"{{ items.previous.attributes|without('href', 'title', 'rel') }}>
            <span aria-hidden="true">{{ items.previous.text|default('<') }}</span>
          </a>
        </li>

        <li {{ bem('next', ['current']) }}>
          <span aria-hidden="true">{{ items.next.text|default('>') }}</span>
        </li>
      {% endif %}

      {% if items.next and not items.previous %}
        <li {{ bem('prev', ['current']) }}>
          <span aria-hidden="true">{{ items.previous.text|default('<') }}</span>
        </li>

        <li {{ bem('next') }}>
          <a href="{{ items.next.href }}" title="{{ 'Go to next page'|t }}" rel="next"{{ items.next.attributes|without('href', 'title', 'rel') }}>
            <span aria-hidden="true">{{ items.next.text|default('>') }}</span>
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}
