{% set content_bottom__base_class = 'content-bottom' %}
{# If `directory` is defined, set the path relative for Drupal.
 # Otherwise, set the path relative to the Component Library. #}


<div {{ bem(content_bottom__base_class) }}>
  <div {{ bem('inner', [], content_bottom__base_class) }}>
    <div {{ bem('primary', [], content_bottom__base_class) }}>
{#      <div {{ bem('branding', [], header__base_class) }}>#}
{#        {% block header__branding %}#}
{#          {% include "@organisms/site/site-header/_site-content-bottom.twig" %}#}
      {{ content }}
{#        {% endblock %}#}
{#      </div>#}
    </div>
{#    <div {{ bem('secondary', [], header__base_class) }}>#}
{#      {% block header__breadcrumbs %}#}
{#        {% include "@molecules/menus/breadcrumbs/breadcrumbs.twig" %}#}
{#      {% endblock %}#}
{#    </div>#}
  </div>
</div>
