{% extends "block.html.twig" %}

{% block content %}
  <div class="site-branding__container">
    <a href="{{ path('<front>') }}" rel="home" class="site-branding__logo">
      <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" />
    </a>
    <div class="site-branding__inner">
      <h1 class="site-branding__inner-name">
        <a href="{{ path('<front>') }}" rel="home">{{ site_name }}</a>
      </h1>
      <div class="site-branding__inner-slogan">{{ site_slogan }}</div>
    </div>
  </div>

{% endblock %}

